{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Tables</h1>
<p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
    For more information about DataTables, please visit the <a target="_blank"
        href="https://datatables.net">official DataTables documentation</a>.</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    
    <div class="card-body">
        <div class="table-responsive">
            <table class="table  hover" id="dataTable" width="100%" >
                <thead>
                    <tr>
                        <th>title</th>
                        <th>content</th>
                        <th>content_at</th>
                        <th>use_yn</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary" id="btn_detail" data-toggle="modal" data-target="#exampleModal" style="display: none;;">Open modal for @mdo</button>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Recipient:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Message:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Send message</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block script %}
<script>
function makeColeRule(arr){
    var template = '';
    
    for(var i=0; i<arr.length; i++){
        template += "<div> label: </div> <div>{name} </div>".replace('label', arr[i]['label']).replace('name', arr[i]['name']);
    }
    $('#jqGridTemplate').html(template)
    return arr;
}

// "title":"hello6",
// "content":"hhhh",
// "content_at":"20210221",
// "use_yn":"Y"
var columns = [
            { "data": "title" },
            { "data": "content" },
            { "data": "content_at" },
            { "data": "use_yn" }
        ]
// ajax: " url 'board:post' 1 ",
var rowData = $('#dataTable').DataTable( {
        ajax: "/board",
        ordering:false,
        columns: columns
    } );

tmpIdx = 0
tmpRow = {}
$('#dataTable tbody').on( 'click', 'tr', function () {
    tmpIdx = rowData.row( this ).index();
    tmpRow = rowData.row( this ).data();
    tmpRow['flag'] = 'U'
    tmpRow['position'] = 'kkk'
    rowData.row(tmpIdx).data(tmpRow);
    console.log( 'Row index: '+rowData.row( this ).index() , rowData.row( this ).data());
    $('#btn_detail').trigger('click');
} );
$(document).ready(function() {
} );

</script>

{% endblock script %}